#footer-section{
    background: #1A1919;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#footer-section .r1 .social-ctr{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--bg-light);
    font-size: 16px;
}
#footer-section .r1 .social-ctr a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: var(--bg-light);
    border-radius: 9px;
}

#footer-section .r2{
    display: flex;
    justify-content: space-between;
}
.foot-logo{
    font-size: 36px;
    color: var(--bg-light);
    font-weight: 700;
}
.foot-logo span{
    color: var(--primary);
}
.foot-logo-tagline{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 900;
    background: var(--bg-light);
    padding: 3px 20px;
    border-radius: 6px;
}
.f-head{
    color: var(--bg-light);
    font-weight: 600;
}
#footer-section .r2 ul li a{
    color: var(--bg-light);
    font-size: 14px;
    font-weight: 200;
}
#footer-section .r2 ul li a:hover{
    color: var(--primary);
}
#footer-section .r3{
    text-align: center;
    color: var(--bg-light);
    font-size: 14px;
    font-weight: 300;
}
#footer-section .r3 span{
    font-weight: 700;
    color: var(--primary);
}

@media (max-width: 990px) {
    #footer-section{
        padding: 0;
        padding-top: 300px;
    }
    
    #footer-section .r1 .social-ctr{
        font-size: 12px;
        justify-content: center;
    }
    #footer-section .r1 .social-ctr a{
        padding: 3px;
        border-radius: 6px;
    }
    
    .foot-logo{
        font-size: 26px;
    }
    .foot-logo-tagline{
        font-size: 14px;
        padding: 3px 6px;
        border-radius: 4px;
    }
    #footer-section .c1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer-section .r2{
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
    }
    #footer-section .r2 ul li a{
        font-size: 12px;
    }
    .f-head{
        font-size: 14px;
    }
    #footer-section .r3{
        font-size: 12px;
        margin-bottom: 20px;
    }
}