.heading-comp{
    color: var(--dark);
    font-weight: 900;
    font-size: 4rem;
    /* font-family: var(--playfair); */
}


.emph-heading{
    color: var(--primary);
    font-family: var(--playfair);
}