/* Hero Section */
#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.hero-bg-ctr{
  width: 100%;
  height: 100%;
  background: radial-gradient(61.23% 70.19% at 50% 50%, rgba(43, 41, 41, 0.60) 0%, #1A1818 100%), url("../assets/images/sk-hero-bg.png") lightgray 50% / cover no-repeat;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hero-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero-heading h1{
  font-family: var(--playfair);
  font-size: 2.5em;
  font-weight: var(--fw-bold);
  color: var(--bg-light);
}
.head-cards{
  display: flex;
  position: relative;
  width: 730px;
  /* gap: 30px; */
}
.head-card-red{
  background: var(--primary);
  font-size: 3.5em;
  font-weight: var(--fw-bold);
  color: var(--bg-light);
  
  padding: 1px 24px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  filter: drop-shadow(1px 1px 1px var(--primary));
  box-shadow: inset 0px -7px 14px 0px rgba(255, 181, 165, 0.5),
    0px 5px 15px 0px rgba(255, 97, 63, 0.4),
    0px 12px 40px 0px rgba(255, 115, 84, 0.1);
  transition: all 300ms ease;
}
.head-card-white{
  position: absolute;
  top: -10px;
  left: 51%;
  transform: rotateZ(-10deg);
  z-index: 100;
  background: var(--bg-light);
  font-family: var(--playfair);
  font-size: 2.5em;
  font-weight: var(--fw-bold);
  color: var(--primary);
  
  padding: 1px 24px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 4px 14px 0px rgba(43, 41, 41, 0.40);
}
.brand-card{
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateZ(10deg);
}
/* Social media icons Container */
.hero-cta-ctr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-ctr{
  display: flex;
  gap: 20px;
  color: var(--bg-light);
}
.social {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.social a {
  position: relative;
  transition: all 300ms ease;
}
.social a i{
  color: var(--bg-light);
}

/* Hero CTA Container */
.hero-cta {
  display: flex;
  gap: 25px;
}
/* Primary Button */
.p-btn {
  background: var(--primary);
  color: var(--bg-light);
  font-weight: var(--fw-semibold);
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 1px var(--primary));
  box-shadow: inset 0px -7px 14px 0px rgba(255, 181, 165, 0.5),
    0px 5px 15px 0px rgba(255, 97, 63, 0.4),
    0px 12px 40px 0px rgba(255, 115, 84, 0.3);
  transition: all 300ms ease;
}
.p-btn:hover {
  box-shadow: inset 0px 0px 14px 0px rgba(255, 181, 165, 0.6),
    0px 5px 15px 0px rgba(255, 97, 63, 0.4),
    0px 0px 0px 0px rgba(255, 115, 84, 0.3);
  transform: translateY(1px);
}
/* Secondary Button */
.s-btn {
  background: #2b29296c;
  backdrop-filter: blur(7px);
  color: var(--bg-light);
  font-weight: var(--fw-medium);
  padding: 10px 30px;
  border: 2px solid var(--bg-light);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}
.s-btn:hover {
  background: var(--dark);
  color: var(--bg-light);
}

.social-ctr{
  font-size: 12px;
  font-weight: var(--fw-normal);
  justify-content: center;
  align-items: center;
}
.social{
  font-size: 16px;
  gap: 18px;
}

@media (max-width: 840px) {
  .hero-heading h1{
    font-size: 2em;
  }
  .head-cards{
    width: 650px;
  }
  .head-card-red{
    font-size: 3em;
  }
  .head-card-white{
    left: 50%;
  }
}

@media (max-width: 750px) {
  .hero-bg-ctr{
    background-size: contain;
    background-position: 0 60%;
  }
  .hero-heading h1{
    font-size: 1.4em;
  }
  .head-cards{
    width: 100%;
  }
  .head-card-red{
    font-size: 2em;
    border-radius: 10px;
  }
  .head-card-white{
    left: 30%;
    top: 50px;
    font-size: 1.6em;
    border-radius: 8px;
  }
  .brand-card{
    top: 95px;
    right: 0;
  }

  .hero-cta{
    gap: 15px;
  }

  .social-ctr{
    font-size: 12px;
    font-weight: var(--fw-normal);
    justify-content: center;
    align-items: center;
  }
  .social{
    font-size: 16px;
    gap: 18px;
  }
  .p-btn{
    font-size: 12px;
    border-width: 1px;
    font-weight: var(--fw-semibold);
    padding: 5px 32px;
  }
  .s-btn{
    font-size: 12px;
    border-width: 1px;
    font-weight: var(--fw-medium);
    padding: 8px 24px;
  }
}