#hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-bottom: 6rem;
}
.hero-ctr-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
  padding-top: 6rem;
}
.hero-ctr-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
}
.ht-txt-ctr {
  text-align: right;
  background: linear-gradient(90deg, #2b2929 48.28%, #a99b9b 99.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ht-txt-ctr h1 {
  font-family: var(--playfair);
  font-size: 62px;
  line-height: 1.2;
  font-weight: var(--fw-black);
}
.ht-txt-ctr em {
  font-family: var(--playfair);
}
.hero-txt h1 {
  font-size: 56px;
  line-height: 1.2;
  font-family: var(--playfair);
  font-weight: var(--fw-bold);
}
.h-emph-txt {
  position: relative;
  font-family: var(--poppins);
  font-size: 68px;
  font-weight: var(--fw-black);
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--bg-light);
  background: linear-gradient(90deg, #2b2929 40%, #6f6b6b 100%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 500ms ease-in-out;
}
.h-emph-txt:hover {
  background-position: 50% 100%;
}
.h-emph-txt::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 18px;
  height: 10px;
  width: 100%;
  background: var(--primary);
  z-index: -1;
}
.h-vid-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}
.h-vid-ctr img {
  width: 600px;
}
.social {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.social a {
  position: relative;
  transition: all 300ms ease;
}
.social a i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--bg-light);
  background: var(--dark);
  /* border: 2px solid var(--dark); */
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(43, 41, 41, 0.5),
    inset 1px 1px 8px 0px rgba(244, 244, 244, 0.6);
  transition: all 300ms ease;
}
.social a::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  background: var(--bg-light);
  width: 100%;
  height: 5px;
  filter: blur(5px);
  transition: all 300ms ease;
}
.social a::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  background: var(--bg-light);
  width: 5px;
  height: 100%;
  filter: blur(5px);
  transition: all 300ms ease;
}
.social a i:hover {
  box-shadow: 0px 4px 8px 0px rgba(43, 41, 41, 0.5),
    inset 1px 1px 8px 0px rgba(244, 244, 244, 0.6);
  transform: translateY(-2px);
}
.social a:hover::after {
  left: -3px;
}
.social a:hover::before {
  top: -3px;
}
.hero-cta {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}
.p-btn {
  background: var(--primary);
  color: var(--bg-light);
  font-weight: var(--fw-semibold);
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 1px var(--primary));
  box-shadow: inset 0px -7px 14px 0px rgba(255, 181, 165, 0.5),
    0px 5px 15px 0px rgba(255, 97, 63, 0.4),
    0px 12px 40px 0px rgba(255, 115, 84, 0.3);
  transition: all 300ms ease;
}
.p-btn:hover {
  box-shadow: inset 0px 0px 14px 0px rgba(255, 181, 165, 0.6),
    0px 5px 15px 0px rgba(255, 97, 63, 0.4),
    0px 0px 0px 0px rgba(255, 115, 84, 0.3);
  transform: translateY(1px);
}
.s-btn {
  background: var(--bg-light);
  color: var(--dark);
  font-weight: var(--fw-semibold);
  padding: 10px 30px;
  border: 2px solid var(--dark);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}
.s-btn:hover {
  background: var(--dark);
  color: var(--bg-light);
}

@media (max-width: 1340px) {
  .hero-ctr-top {
    padding: 0 2rem;
    padding-top: 3rem;
  }
  .hero-txt h1 {
    font-size: 42px;
  }
  .h-emph-txt {
    font-size: 54px;
  }
  .h-emph-txt::before {
    bottom: 14px;
    height: 7px;
  }
  .h-vid-ctr img {
    width: 500px;
  }
  .hero-ctr-bottom {
    padding: 0 2rem;
    align-items: flex-end; /* change this to change the alignment of hero buttons */
  }
  .ht-txt-ctr h1 {
    font-size: 48px;
  }
}
@media (max-width: 900px) {

  .hero-ctr-top {
    padding: 0 2rem;
    padding-top: 3rem;
    justify-content: space-between;
  }
  .hero-txt h1 {
    font-size: 32px;
  }
  .h-emph-txt {
    font-size: 45px;
  }
  .h-emph-txt::before {
    bottom: 12px;
    height: 7px;
  }
  .h-vid-ctr img {
    width: 350px;
  }
  .hero-ctr-bottom {
    padding: 0 2rem;
    align-items: flex-end; /* change this to change the alignment of hero buttons */
  }
  .social {
    font-size: 16px;
  }
  .p-btn {
    padding: 8px 24px;
    font-size: 14px;
  }
  .s-btn {
    padding: 8px 24px;
    font-size: 14px;
  }
  .ht-txt-ctr h1 {
    font-size: 42px;
  }
}
@media (max-width: 760px) {
  #hero {
    justify-content: normal;
    padding: 4rem 0;
    gap: 30px;
  }
  .hero-ctr-top {
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
    padding-top: 2rem;
  }
  .hero-txt h1 {
    font-size: 32px;
  }
  .h-emph-txt {
    font-size: 45px;
  }
  .h-emph-txt::before {
    bottom: 12px;
    height: 7px;
  }
  .h-vid-ctr img {
    width: 350px;
  }
  .hero-ctr-bottom {
    flex-direction: column-reverse;
    padding: 0 10px;
    align-items: center; /* change this to change the alignment of hero buttons */
    gap: 24px;
  }
  .social {
    font-size: 16px;
    justify-content: center;
  }
  .p-btn {
    padding: 8px 24px;
    font-size: 14px;
  }
  .s-btn {
    padding: 8px 24px;
    font-size: 14px;
  }
  .ht-txt-ctr h1 {
    text-align: center;
    font-size: 42px;
  }
  .hero-cta {
    margin: 50px 0;
  }
}

@media (max-width: 370px) {
  .h-vid-ctr img {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .hero-txt h1{
    line-height: 1.1;
  }
  .h-emph-txt {
    font-size: 40px;
  }
  .h-emph-txt::before{
    bottom: 10px;
  }
  .h-vid-ctr img {
    width: 300px;
  }
  .hero-cta a{
    gap: 20px;
    font-size: 12px;
  }
  .p-btn{
    padding: 8px 16px;
  }
  .s-btn{
    padding: 8px 16px;
  }
}
