.kisankirana_promo {
  width: 100%;
}
.kk_ctr {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  background: var(--dark);
  color: var(--bg-light);
  padding: 5rem 3rem;
}
.main_heading {
  font-size: 82px;
  line-height: 1.2;
  font-weight: var(--fw-light);
}
.logo {
  font-family: var(--playfair);
  font-weight: var(--fw-bold);
}
.logo_hili {
  color: var(--primary);
  font-weight: var(--fw-bold);
}
.sub_heading {
  color: #c3c3c3;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: var(--fw-light);
  line-height: 1.1;
  margin: 20px 0 40px 0;
}
.ad_btn_white {
  font-size: 14px;
  background: var(--bg-light);
  color: var(--dark);
  font-weight: var(--fw-semibold);
  box-shadow: inset 0px 1px 1.2px #f4f4f4a8, 0px 2px 3px #2b2929a3;
  padding: 10px 34px;
  border-radius: 7px;
  transition: background-color 0.2s ease;
}
@media (max-width: 1024px) {
  .main_heading{
    font-size: 72px;
  }
  .sub_heading{
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .main_heading{
    font-size: 52px;
  }
  .sub_heading{
    font-size: 24px;
  }
}
@media (max-width: 665px) {
  .main_heading{
    font-size: 42px;
  }
  .sub_heading{
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .kk_ctr {
    padding: 4rem 1rem;
  }
  .main_heading{
    font-size: 24px;
  }
  .sub_heading{
    font-size: 14px;
  }
  .ad_btn_white{
    font-size: 12px;
    padding: 8px 28px;
  }
  
}